.header {
  position: relative;

  &--portfolio {
    border-bottom: 1px solid #ececec;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  @media screen and (min-width: 768px) {
    min-height: 60px;
  }
}
