.project-card-list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.project {
  @include bordered($border-project-color);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    // max-width: 354px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  &__image {
    // position: relative;
  }

  &__content {
    padding: 20px 24px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 4px;
    color: $title-text-color;
    font-weight: $title-font-weight;
    font-size: $title-project-font-size;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-text-color;
    font-size: $button-team-project-font-size;
    line-height: 1.88;
    font-weight: $primary-font-weight;
  }
}

.project:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.project__link {
  display: block;
  text-decoration: none;
  box-shadow: none;
  @include transit(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: transparent;
  }
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(0);
  @include transit(transform);

  .project__link:hover &,
  .project__link:focus & {
    transform: translatey(-100%);
  }
}

.project__description {
  padding: 77px 24px;
  margin: 0;
  width: 100%;
  height: 100%;

  color: $primary-white-color;
  font-size: $title-project-font-size;
  line-height: 1.56;
  font-weight: $primary-font-weight;

  @media screen and (max-width: 479px) {
    font-size: calc((100vw - 320px) / (480 - 320) * (18 - 12) + 12px);
    padding-top: calc((100vw - 320px) / (480 - 320) * (77 - 50) + 50px);
    padding-bottom: calc((100vw - 320px) / (480 - 320) * (77 - 50) + 50px);
  }

  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 64px 24px;
  }
}
